@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import'custom';

 //FONT
 a{
    font-family: $font-family-serif;
    font-size: 16px; 
 }

 //HTML

 
html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 165px;
}


//conteneir texte -image

.text-justify{
    text-align: justify;
$font-family-serif:"Roboto",serif !default;
 
}

//PAGE ACCEUIL - navbar
.navbar-nav {
    gap: 80px; /* Ajuste l'espacement entre les éléments */
    margin-top: 25px;   
}
.navbar-nav li:last-child {
    margin-right: 40px; /* Évite un espace inutile à la fin */
}
.navbar-nav .nav-link {
    color: white !important; /* Force la couleur blanche */
}
.navbar-nav .nav-link:hover {
    color: #ddd !important; /* Légère variation au survol */
}

//menu burger
.navbar-toggler {
    border-color: white !important; // Bordure blanche du bouton
}
.navbar-toggler-icon {
    filter: invert(1); // Rend l'icône blanche
}

//PAGE ACCUEIL-Conteneur trajet 
 
.search-container,.search-container2{
    display: flex;
    flex-direction: row; /* Par défaut : en ligne (Desktop) */
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 10px;

    @media (max-width: 767px) { /* En dessous de 768px (Mobile) */
        flex-direction: column; /* Passe en colonne pour mobile */
        justify-content: space-between;
    }
}

.search-container{
    margin-top: 30px;
}

.input-group {
    display: flex;
    align-items:center;
    background-color:$secondary;  
    padding: 12px 15px;
    border-radius: 27px;
    width: 100%;
    max-width: 360px;
    border: 1px solid #4F4F4F;
    transition: 0.3s;

    i {
        color:red;
        font-size: 20px;
        margin-right: 10px;
    }

    input {
        border: none;
       background: transparent;
       max-width: 150px;
    }
}

.search-button button ,.search-button2 button {
    background-color:$tertiary;
    color: black;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 19px;
    width: 100%;
    max-width: 380px;
    cursor: pointer;
}
.search-button button:hover {
    background-color: #cc7700;
}
.text-justify{
    background-color: $primary;
}

//PAGE ACCUEIL -contenaire texte -image

.text-justify{
text-align: justify;
$font-family-serif:"Roboto",serif !default;
 
}


// PAGE COVOITURAGE -filtre

.search-container2{
    padding: 40px;
    padding: 40px;
}
 
.filter-container ,.dropdown  {
    display: flex;
    flex-direction: row;  
    justify-content:space-around;
    align-items: center;
    gap:10px;
    width: 100%;
    //max-width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 767px) { /* En dessous de 768px (Mobile) */
        flex-direction: column; /* Passe en colonne pour mobile */
        justify-content: space-between;
       
    }
}
 .search-button2{
    display: flex;
    flex-direction: row;
    justify-content:center;

 }

.btn-secondary.dropdown-toggle {
    height: 50px; /* Change la hauteur selon ton besoin */
    line-height: 50px; /* Centre le texte verticalement */
    padding: 0 15px; /* Ajuste l'espacement intérieur */
    width: 100%; /* Largeur selon le texte */
    //min-width: 255px; /* Largeur minimale */
    //max-width: 300px; /* Largeur maximale */

   
}
 

// PAGE CONVOITURAGE -liste covoiturage

.listCovoiturage {
    font-family: Arial, sans-serif;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 40px;
}

.containerList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 1400px;
    padding: 40px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.profile{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
     align-items: center;
     margin-bottom: 10px;

}
.card, .cardCarPreference ,.cardAvis{
    background: $secondary;
    padding: 20px 0;
    border-radius: 10px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.card{
    text-align: center;
}


p {
    background:$background;
    margin: 20px 0;
}

button {
    background: $tertiary;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color:  black;
    font-weight: bold;
    width: 50%;
    margin-left: 80px; 
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        width: 90%;
    }
}
 
 
//FOOTER
footer.footer{
    padding: 15px;
    position:absolute;
    bottom: 0;
    width: 100%;
}
.footer a {
    color: white !important;  /* Forcer la couleur blanche */
    text-decoration: none;     /* Enlever le soulignement */
}

.footer a:hover {
    color: #ddd !important; /* Légère variation au survol */
}


//PAGE VUE DETAILLEE COVOITURAGE -card


.cardCarPreference .car ,.preference{
  padding-left: 20px;
  line-height: 2;
}
.car span:first-child , .preference span:first-child{
    text-decoration: underline;
    font-weight: bold;
}

.cardAvis {
    max-height: 514px; /* Hauteur max avant scroll */
    overflow-y: auto; /* Ajoute un scroll vertical */
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%; /* Largeur adaptative */
    max-width: 400px; /* Empêche qu'elle devienne trop large */
    margin: 0 auto; /* Centre la div */

  /* Scroll personnalisé pour Firefox */
  scrollbar-width: thin; /* Taille de la barre */
  scrollbar-color: $tertiary $tertiary; /* (Couleur de la barre, Couleur du fond) */
}