@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import'custom';

 
//HEADER
 //navbar
.navbar-nav {
    gap: 80px; /* Ajuste l'espacement entre les éléments */
    margin-top: 25px;   
}
.navbar-nav li:last-child {
    margin-right: 40px; /* Évite un espace inutile à la fin */
}
.navbar-nav .nav-link {
    color: white !important; /* Force la couleur blanche */
}
.navbar-nav .nav-link:hover {
    color: #ddd !important; /* Légère variation au survol */
}

//menu burger
.navbar-toggler {
    border-color: white !important; // Bordure blanche du bouton
}

.navbar-toggler-icon {
    filter: invert(1); // Rend l'icône blanche
}



html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 85px;
}

//FOOTER
footer.footer{
    padding: 15px;
    position:absolute;
    bottom: 0;
    width: 100%;
}
.footer a {
    color: white !important;  /* Forcer la couleur blanche */
    text-decoration: none;     /* Enlever le soulignement */
}

.footer a:hover {
    color: #ddd !important; /* Légère variation au survol */
}


